@model IEnumerable<FinalProject.Models.OrderDetail>

@{
    ViewBag.Title = "我的訂單明細";
  
}

<div class="jumbotron" style="background-color: transparent; margin-top: 50px">
    <h2 style="font-family: '微軟正黑體', sans-serif">@String.Format("訂單編號{0}商品列表", this.Model.First().Id)</h2>

    <hr />
    @Html.ActionLink("回商品列表", "MyOrder", new { }, new { @class = "btn btn-default", style = "background-color: rgba(0, 0, 0, 0.5); color: #ffffff" })
    <table class="table">
        <tr>
            <th>商品名稱</th>
            <th>商品價格</th>
            <th>購買數量</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </table>
</div>