@model FinalProject.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "更改密碼";
}

<div class="jumbotron" style="background-color: transparent; margin-top: 50px">
    <h2 style="font-family: '微軟正黑體', sans-serif">@ViewBag.Title</h2style="font-family:>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h4 style="font-family: '微軟正黑體', sans-serif">快改啦 想被盜喔?</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <dl class="dl-horizontal">
                <dt>
                    <label class="control-label" style="font-size: 22px">舊的密碼</label>
                </dt>
                <dd>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <dl class="dl-horizontal">
                <dt>
                    <label class="control-label" style="font-size: 22px">新的密碼</label>
                </dt>
                <dd>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </dd>
                
            </dl>
        </div>
        <div class="form-group">
            <dl class="dl-horizontal">
                <dt><label class="control-label" style="font-size: 17px">再確認一遍新的密碼</label></dt>
                <dd>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確認更改" class="btn btn-default" style="background-color: rgba(0, 0, 0, 0.5); color: #ffffff" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>