@model FinalProject.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<div class="jumbotron" style="background-color: transparent; margin-top: 50px">
    <h2>@ViewBag.Title.</h2>
    <p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>

    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Create Local Login</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                </dt>
                <dd>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", style = "font-size: 13px" })
                </dt>
                <dd>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set password" class="btn btn-default" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>